In [102]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score

df = pd.read_csv('car.data')
df.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

### Checking and cleaning data

In [103]:
df.isnull().sum()

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
class       0
dtype: int64

In [104]:
df['buying'].value_counts()

vhigh    432
high     432
med      432
low      432
Name: buying, dtype: int64

In [105]:
df['maint'].value_counts()

vhigh    432
high     432
med      432
low      432
Name: maint, dtype: int64

In [106]:
df['safety'].value_counts()

low     576
med     576
high    576
Name: safety, dtype: int64

In [107]:
df['class'].value_counts()

unacc    1210
acc       384
good       69
vgood      65
Name: class, dtype: int64

### Encoding Data

In [108]:
df.replace({'buying':{'vhigh':3, 'high':2, 'med':1, 'low':0}}, inplace=True)
df['buying'].value_counts()

3    432
2    432
1    432
0    432
Name: buying, dtype: int64

In [109]:
df.replace({'maint':{'vhigh':3, 'high':2, 'med':1, 'low':0}}, inplace=True)
df['maint'].value_counts()

3    432
2    432
1    432
0    432
Name: maint, dtype: int64

In [110]:
df.replace({'safety':{'low':0, 'med':1, 'high':2}}, inplace=True)
df['safety'].value_counts()

0    576
1    576
2    576
Name: safety, dtype: int64

In [111]:
df.replace({'class':{'unacc':0, 'acc':1, 'good':2, 'vgood':3}}, inplace=True)
df['class'].value_counts()

0    1210
1     384
2      69
3      65
Name: class, dtype: int64

In [112]:
df.head()

   buying  maint doors persons lug_boot  safety  class
0       3      3     2       2    small       0      0
1       3      3     2       2    small       1      0
2       3      3     2       2    small       2      0
3       3      3     2       2      med       0      0
4       3      3     2       2      med       1      0

### Data Splitting

In [123]:
X = df.drop(columns=['doors', 'persons', 'lug_boot'])
y = df['class']

In [124]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0, test_size=.2)

### KNN

In [127]:
import math
math.sqrt(len(y_test))

18.601075237738275

In [138]:
classifier = KNeighborsClassifier(n_neighbors=19, weights='uniform')
classifier.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=19)

In [139]:
y_pred = classifier.predict(X_test)

C:\Users\MARINE\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

### Model Evaluation

In [140]:
accuracy_score(y_test, y_pred)

1.0

In [141]:
confusion_matrix(y_test, y_pred)

array([[240,   0,   0,   0],
       [  0,  79,   0,   0],
       [  0,   0,  17,   0],
       [  0,   0,   0,  10]], dtype=int64)